/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* Remove link's underline */
a {
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Setting Inter font and color */
:root {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}
:root {
  color: var(--font-color);
}

/* Style */

/* Using flex for the body */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

/* Style for the nav */
nav {
  position: fixed;
  padding: 16px;
  /* background-color: antiquewhite; */
  width: 100vw;
  background-color: white;
  z-index: 999;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

/* Styel for the landing page */
.landing-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 160px;
  margin: 0 32px 0 32px;
  /* background-color: antiquewhite; */
}

/* Text, profile image and button */
.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.intro .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.intro-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

.profile-img img {
  width: 44px;
  height: 44px;
}

.intro-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: var(--gray-40);
}

.intro .button__secondary {
  margin-top: 16px;
}

#landing_motion {
  width: 500px;
  height: 500px;
}

/* About page style */
/* Page Layout */
#about {
  margin: 115px 40px 0px 40px;
  display: flex;
  max-width: 500px;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
}

#about .title {
  color: var(--font-color);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
}

.external_link {
  color: var(--gray-40);
  text-decoration: underline;
}

.external_link:link {
}
.external_link:visited {
}
.external_link:hover {
  color: var(--theme-60);
}

.external_link:active {
  color: var(--theme-60);
}

/* Self introduction */
#self_intro {
  color: var(--gray-40, #7c7f90);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
}

#self_intro span {
  color: var(--font-color);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

#self_intro .icon-theme {
  color: var(--theme-60);
}

/* Skills */
#skills {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  /* align-self: stretch; */
}
.skills_tag {
  display: flex;
  max-width: 500px;
  align-items: flex-start;
  align-content: flex-start;
  gap: 4px;
  flex-wrap: wrap;
}

.skills_tag .tag {
  display: flex;
  width: 140px;
  padding: 12px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 12px;
  background: var(--gray-05);
  color: var(--gray-70);
  font-size: 16px;
}
/* Work Experience */
#work_experience {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  /* align-self: stretch; */
}

.timeline_item {
  display: flex;
  padding-left: 0px;
  padding-bottom: 24px;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  /* border-left: 1px solid var(--gray-20); */
}

.timeline_item:last-child {
  padding-bottom: 0px;
}

/* Timeline and dots */
.timeline_left {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  top: 6px;
  /* background-color: #7c7f90; */
}

.timeline_dot {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  border: 1px solid var(--gray-20);

  background: #fff;
  box-shadow: 0px 0px 0px 2px #ffffff;
  z-index: 99;
}

#timeline_line-1 {
  width: 1px;
  height: 138px;
  background-color: var(--gray-10);
}

#timeline_line-2 {
  width: 1px;
  height: 114px;
  background-color: var(--gray-10);
}
/* Right side of the timeline */
.timeline_right {
  display: flex;
  padding-left: 24px;

  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex: 1 0 0;
}

.timeline_right .time {
  color: var(--gray--30, #9a9daf);

  /* paragraph-small */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}

.timeline_right .job {
  color: var(--gray-gray-40, #7c7f90);

  /* paragraph-regular */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.job .position {
  color: var(--font-color);
}

.timeline_right .job_detail {
  color: var(--gray-gray-40, #7c7f90);

  /* paragraph-regular */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

/* Education */
#education {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 80px;
}

#education p {
  color: var(--gray-40, #7c7f90);

  /* paragraph-regular */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

#education p span {
  color: var(--font-color, #020018);

  /* paragraph-regular */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

/* ————————————responsive—————————— */
@media (max-width: 893px) {
  body {
    height: 100vh;
    width: 100vw;
  }

  .intro {
    margin: 0 16px;
  }

  .landing-page {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: start;
    height: 100vh;
    gap: 0px;
    /* padding: 52px 0px 0 0px; */
    /* background-color: antiquewhite; */
  }

  #landing_motion {
    width: calc(100vw - 16px); /* 视窗宽度减去 16px */
    max-width: 500px; /* 最大宽度为 380px */
    height: auto;
  }
}
