:root {
  /* font */
  --font-color: #020018;

  /* theme color palette */
  --theme-100: #020018;
  --theme-60: #4f29fb;
  --theme-10: #eaedff;

  /* netural color palette */
  --gray-70: #2a2d3b;
  --gray-40: #7c7f90;
  --gray-30: #9a9daf;
  --gray-20: #b9bdcf;
  --gray-10: #d9ddf0;
  --gray-05: #eff0f5;

  /* border */
  --color-border: var(--gray-10);
}
